<div class="row">
  <div class="small-12 large-12 columns">
  <div id="myDiv">
    
    <div class="loading-overlay" style=" display: {{hideCss}}">
      <div class="spin-loader"></div>
    </div>
    
  {{yield}}
  
  </div>

</div>
</div>




