
{{#ajax-loader isHideProgres=allSeries }}

    {{#table-filter  onCreateCtr=createSerie data=allSeries  headerName='{ "name":"Nombre", "gender": "Genero", "description": "Descripcion" }' }}
        
    {{/table-filter}}
 
{{/ajax-loader}}


<p><a data-open="exampleModal">Click me for a modal</a></p>
{{#zf-reveal id="exampleModal" zfUi=dialogCreate  overlay=showDialogOverlay}}
  <h1>Awesome. I Have It.</h1>
  <p class="lead">Your couch. It is mine.</p>
  <p>I'm a cool paragraph that lives inside of an even cooler modal. Wins!</p>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
{{/zf-reveal}}
<p>{{input type="checkbox" name="showDialogOverlay" checked=showDialogOverlay}} Show Overlay</p>



